In [110]:
import pandas as pd
import numpy as np
from datetime import datetime,timedelta
import geopandas as gpd
pd.options.display.max_columns=100

In [111]:
#data from github jhu,import the lastest data from timeseries
df_Counties_confirmed=pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv")
df_Counties_deaths=pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv")

In [112]:
#the lastest date, printing both just make sure they have the data are updated at the same pace
tdst=df_Counties_confirmed.columns[-1]
print (tdst)
tdst1=df_Counties_deaths.columns[-1]
print (tdst1)

5/19/20
5/19/20

In [113]:
#tdstpre=df_Counties_confirmed.columns[-2]
#print (tdstpre)

In [114]:
#check the total number of confirmed and deaths from CSSE data
print (df_Counties_deaths[tdst].sum())
print (df_Counties_confirmed[tdst].sum())

91921
1528568

In [115]:
# Exclude military and extra data added to the end
df_Counties_confirmed=df_Counties_confirmed.iloc[:3253]
df_Counties_deaths=df_Counties_deaths.iloc[:3253]
df_Counties_confirmed.iloc[-2:]

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,Combined_Key,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,2/1/20,2/2/20,2/3/20,2/4/20,2/5/20,2/6/20,2/7/20,2/8/20,2/9/20,2/10/20,2/11/20,2/12/20,2/13/20,2/14/20,2/15/20,2/16/20,2/17/20,2/18/20,2/19/20,2/20/20,2/21/20,2/22/20,2/23/20,2/24/20,2/25/20,2/26/20,2/27/20,2/28/20,2/29/20,...,3/31/20,4/1/20,4/2/20,4/3/20,4/4/20,4/5/20,4/6/20,4/7/20,4/8/20,4/9/20,4/10/20,4/11/20,4/12/20,4/13/20,4/14/20,4/15/20,4/16/20,4/17/20,4/18/20,4/19/20,4/20/20,4/21/20,4/22/20,4/23/20,4/24/20,4/25/20,4/26/20,4/27/20,4/28/20,4/29/20,4/30/20,5/1/20,5/2/20,5/3/20,5/4/20,5/5/20,5/6/20,5/7/20,5/8/20,5/9/20,5/10/20,5/11/20,5/12/20,5/13/20,5/14/20,5/15/20,5/16/20,5/17/20,5/18/20,5/19/20
3251,84090056,US,USA,840,90056.0,Unassigned,Wyoming,US,0.0,0.0,"Unassigned, Wyoming, US",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3252,84099999,US,USA,840,99999.0,NaN,Grand Princess,US,0.0,0.0,"Grand Princess, US",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,103,103,103,103,103,103,103,103,103,103,103,103,103,103,103,103,103,103,103,103,103,103,103,103,103,103,103,103,103,103,103,103,103,103,103,103,103,103,103,103,103,103,103,103,103,103,103,103,103,103

In [116]:
df_Counties_confirmed[tdst].sum()

1524695

In [117]:
df_Counties_deaths[df_Counties_deaths['FIPS']==36061]

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,Combined_Key,Population,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,2/1/20,2/2/20,2/3/20,2/4/20,2/5/20,2/6/20,2/7/20,2/8/20,2/9/20,2/10/20,2/11/20,2/12/20,2/13/20,2/14/20,2/15/20,2/16/20,2/17/20,2/18/20,2/19/20,2/20/20,2/21/20,2/22/20,2/23/20,2/24/20,2/25/20,2/26/20,2/27/20,2/28/20,...,3/31/20,4/1/20,4/2/20,4/3/20,4/4/20,4/5/20,4/6/20,4/7/20,4/8/20,4/9/20,4/10/20,4/11/20,4/12/20,4/13/20,4/14/20,4/15/20,4/16/20,4/17/20,4/18/20,4/19/20,4/20/20,4/21/20,4/22/20,4/23/20,4/24/20,4/25/20,4/26/20,4/27/20,4/28/20,4/29/20,4/30/20,5/1/20,5/2/20,5/3/20,5/4/20,5/5/20,5/6/20,5/7/20,5/8/20,5/9/20,5/10/20,5/11/20,5/12/20,5/13/20,5/14/20,5/15/20,5/16/20,5/17/20,5/18/20,5/19/20
1863,84036061,US,USA,840,36061.0,New York,New York,US,40.767273,-73.971526,"New York City, New York, US",8336817,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,2589,3115,3754,4399,5077,5804,6596,7406,8137,8861,9558,10238,10955,11681,12324,12851,13374,13826,14291,14735,15169,15529,15864,16158,16190,17126,17280,17515,17682,18076,18069,18399,18491,18925,19057,19067,19174,19626,19561,19818,19789,20056,20237,20316,20406,20476,20576,20720,20806,20887

In [118]:
df_Counties_deaths.shape

(3253, 131)

In [119]:
#df_Counties_deaths[df_Counties_deaths['Admin2']=='Federal Correctional Institution (FCI)']

In [120]:
Day14Series=[]
for i in range(1,15):
    #print (i)
    day=df_Counties_confirmed.columns[(i-16)]
    Day14Series.append(day)
    
len(Day14Series)
Day14Series.extend([tdst,'FIPS', 'Admin2','Province_State','Combined_Key'])
df_Counties_confirmed=df_Counties_confirmed[Day14Series]

In [121]:
df_Counties_confirmed.columns

Index(['5/5/20', '5/6/20', '5/7/20', '5/8/20', '5/9/20', '5/10/20', '5/11/20',
       '5/12/20', '5/13/20', '5/14/20', '5/15/20', '5/16/20', '5/17/20',
       '5/18/20', '5/19/20', 'FIPS', 'Admin2', 'Province_State',
       'Combined_Key'],
      dtype='object')

In [122]:
# Replace data with NY data
df_NY_confirmed=pd.read_csv(r'C:\Work_GovEx\COVID-19\Daily Data\NY Boroughs_Confirmed.csv')
df_NY_deaths=pd.read_csv(r'C:\Work_GovEx\COVID-19\Daily Data\NY Boroughs_Deaths.csv')
df_NY_new=pd.read_csv("https://raw.githubusercontent.com/nychealth/coronavirus-data/master/by-boro.csv",skipfooter=1,engine='python')

In [123]:
if tdst == df_NY_confirmed.columns[-1]:
    print ('not updated yet')
   # new_date='{dt.month}/{dt.day}/{dt:%y}'.format(dt = datetime.now())
   # new_date='{dt.month}/{dt.day}/{dt:%y}'.format(dt = datetime.now()-timedelta(1)
    #df_NY_confirmed[new_date]=df_NY_new['CASE_COUNT']
    #df_NY_deaths[new_date]=df_NY_new['DEATH_COUNT']
else:
    df_NY_confirmed[tdst]=df_NY_new['CASE_COUNT']
    df_NY_deaths[tdst]=df_NY_new['DEATH_COUNT']

In [125]:
#15 days time-series
for days in df_Counties_confirmed.columns[:15]:
    print (days)
    df_Counties_confirmed.loc[df_Counties_confirmed.FIPS==df_NY_confirmed.iloc[0,0],days]=df_NY_confirmed.loc[0][days]
    df_Counties_confirmed.loc[df_Counties_confirmed.FIPS==df_NY_confirmed.iloc[1,0],days]=df_NY_confirmed.loc[1][days]
    df_Counties_confirmed.loc[df_Counties_confirmed.FIPS==df_NY_confirmed.iloc[2,0],days]=df_NY_confirmed.loc[2][days]
    df_Counties_confirmed.loc[df_Counties_confirmed.FIPS==df_NY_confirmed.iloc[3,0],days]=df_NY_confirmed.loc[3][days]
    df_Counties_confirmed.loc[df_Counties_confirmed.FIPS==df_NY_confirmed.iloc[4,0],days]=df_NY_confirmed.loc[4][days]

5/5/20
5/6/20
5/7/20
5/8/20
5/9/20
5/10/20
5/11/20
5/12/20
5/13/20
5/14/20
5/15/20
5/16/20
5/17/20
5/18/20
5/19/20

In [126]:
df_Counties_confirmed[df_Counties_confirmed['FIPS']==36005]

,5/5/20,5/6/20,5/7/20,5/8/20,5/9/20,5/10/20,5/11/20,5/12/20,5/13/20,5/14/20,5/15/20,5/16/20,5/17/20,5/18/20,5/19/20,FIPS,Admin2,Province_State,Combined_Key
1835,39239,39587,39878,40148,40454,40689,41628,41746,41953,42222,42656,42966,43252,43397,43508,36005.0,Bronx,New York,"Bronx, New York, US"

In [127]:
#calcualte new cases for 14 days
df_Counties_confirmed['NewCaseDay01']=df_Counties_confirmed.iloc[:,1]-df_Counties_confirmed.iloc[:,0]
df_Counties_confirmed['NewCaseDay02']=df_Counties_confirmed.iloc[:,2]-df_Counties_confirmed.iloc[:,1]
df_Counties_confirmed['NewCaseDay03']=df_Counties_confirmed.iloc[:,3]-df_Counties_confirmed.iloc[:,2]
df_Counties_confirmed['NewCaseDay04']=df_Counties_confirmed.iloc[:,4]-df_Counties_confirmed.iloc[:,3]
df_Counties_confirmed['NewCaseDay05']=df_Counties_confirmed.iloc[:,5]-df_Counties_confirmed.iloc[:,4]
df_Counties_confirmed['NewCaseDay06']=df_Counties_confirmed.iloc[:,6]-df_Counties_confirmed.iloc[:,5]
df_Counties_confirmed['NewCaseDay07']=df_Counties_confirmed.iloc[:,7]-df_Counties_confirmed.iloc[:,6]
df_Counties_confirmed['NewCaseDay08']=df_Counties_confirmed.iloc[:,8]-df_Counties_confirmed.iloc[:,7]
df_Counties_confirmed['NewCaseDay09']=df_Counties_confirmed.iloc[:,9]-df_Counties_confirmed.iloc[:,8]
df_Counties_confirmed['NewCaseDay10']=df_Counties_confirmed.iloc[:,10]-df_Counties_confirmed.iloc[:,9]
df_Counties_confirmed['NewCaseDay11']=df_Counties_confirmed.iloc[:,11]-df_Counties_confirmed.iloc[:,10]
df_Counties_confirmed['NewCaseDay12']=df_Counties_confirmed.iloc[:,12]-df_Counties_confirmed.iloc[:,11]
df_Counties_confirmed['NewCaseDay13']=df_Counties_confirmed.iloc[:,13]-df_Counties_confirmed.iloc[:,12]
df_Counties_confirmed['NewCases']=df_Counties_confirmed.iloc[:,14]-df_Counties_confirmed.iloc[:,13]

In [128]:
#clean confirmed file
#df_Counties_confirmed.columns[-19:]
df_Counties_confirmed=df_Counties_confirmed[df_Counties_confirmed.columns[-19:]]

In [129]:
#calculate new deaths
pre_day=df_Counties_deaths.columns[-2]
df_Counties_deaths=df_Counties_deaths[[pre_day,tdst,'FIPS']]

In [130]:

for days in df_Counties_deaths.columns[:2]:
    print (days)
    df_Counties_deaths.loc[df_Counties_deaths.FIPS==df_NY_deaths.iloc[0,0],days]=df_NY_deaths.loc[0][days]
    df_Counties_deaths.loc[df_Counties_deaths.FIPS==df_NY_deaths.iloc[1,0],days]=df_NY_deaths.loc[1][days]
    df_Counties_deaths.loc[df_Counties_deaths.FIPS==df_NY_deaths.iloc[2,0],days]=df_NY_deaths.loc[2][days]
    df_Counties_deaths.loc[df_Counties_deaths.FIPS==df_NY_deaths.iloc[3,0],days]=df_NY_deaths.loc[3][days]
    df_Counties_deaths.loc[df_Counties_deaths.FIPS==df_NY_deaths.iloc[4,0],days]=df_NY_deaths.loc[4][days]

5/18/20
5/19/20

In [131]:
df_Counties_deaths[df_Counties_deaths['FIPS']==36005]

      5/18/20  5/19/20     FIPS
1835     3386     3409  36005.0

In [132]:
df_Counties_deaths['NewDeaths']=df_Counties_deaths.iloc[:,1]-df_Counties_deaths.iloc[:,0]

In [133]:
df_Counties_deaths.head(5)

   5/18/20  5/19/20  FIPS  NewDeaths
0        0        0  60.0          0
1        5        5  66.0          0
2        2        2  69.0          0
3      124      124  72.0          0
4        6        6  78.0          0

In [134]:
pre_day

'5/18/20'

In [135]:
df_Counties_deaths.drop(columns={pre_day},inplace=True)

In [136]:
df_Counties_confirmed[df_Counties_confirmed.FIPS==36047]

,5/19/20,FIPS,Admin2,Province_State,Combined_Key,NewCaseDay01,NewCaseDay02,NewCaseDay03,NewCaseDay04,NewCaseDay05,NewCaseDay06,NewCaseDay07,NewCaseDay08,NewCaseDay09,NewCaseDay10,NewCaseDay11,NewCaseDay12,NewCaseDay13,NewCases
1856,52347,36047.0,Kings,New York,"Kings, New York, US",502,440,398,425,434,2029,214,267,328,457,378,422,214,202

In [137]:
df_Counties_deaths[df_Counties_deaths.FIPS==36047]

      5/19/20     FIPS  NewDeaths
1856     4894  36047.0         19

In [138]:
#tdst=df_Counties_confirmed.columns[-1]

df_Counties=pd.merge(df_Counties_confirmed,df_Counties_deaths,how='left',on='FIPS',suffixes=('_confirmed','_deaths'))
#df_Counties.head(2)
df_Counties.rename(columns={tdst+'_confirmed':'Confirmed',tdst+'_deaths':'Deaths'},inplace=True)

In [139]:
df_Counties.tail(1)

,Confirmed,FIPS,Admin2,Province_State,Combined_Key,NewCaseDay01,NewCaseDay02,NewCaseDay03,NewCaseDay04,NewCaseDay05,NewCaseDay06,NewCaseDay07,NewCaseDay08,NewCaseDay09,NewCaseDay10,NewCaseDay11,NewCaseDay12,NewCaseDay13,NewCases,Deaths,NewDeaths
3254,103,99999.0,NaN,Grand Princess,"Grand Princess, US",0,0,0,0,0,0,0,0,0,0,0,0,0,0,3,0

In [140]:
df_Counties.loc[df_Counties.FIPS==36047]

,Confirmed,FIPS,Admin2,Province_State,Combined_Key,NewCaseDay01,NewCaseDay02,NewCaseDay03,NewCaseDay04,NewCaseDay05,NewCaseDay06,NewCaseDay07,NewCaseDay08,NewCaseDay09,NewCaseDay10,NewCaseDay11,NewCaseDay12,NewCaseDay13,NewCases,Deaths,NewDeaths
1856,52347,36047.0,Kings,New York,"Kings, New York, US",502,440,398,425,434,2029,214,267,328,457,378,422,214,202,4894,19

In [141]:
#census and health data from ESRI
df_ACS1=pd.read_excel(r'C:\Work_GovEx\COVID-19\New Data\ACS 2014-2018 Fields.xlsx')
df_ACSState=pd.read_excel(r'C:\Work_GovEx\COVID-19\New Data\ACS_State_Final_ToExcel_noMOE.xlsx')
df_ACSCounty=pd.read_excel(r'C:\Work_GovEx\COVID-19\New Data\ACS_County_Final_ToExcel_noMOE.xlsx')
df_ACSCounty1=df_ACSCounty[['FIPS', 'NAME', 'State']]
df_ACSCounty1['Age_85']=df_ACSCounty['B01001_049E']+df_ACSCounty['B01001_025E']
df_ACSCounty1['Age_80_84']=df_ACSCounty['B01001_048E']+df_ACSCounty['B01001_024E']
df_ACSCounty1['Age_75_79']=df_ACSCounty['B01001_047E']+df_ACSCounty['B01001_023E']
df_ACSCounty1['Age_70_74']=df_ACSCounty['B01001_046E']+df_ACSCounty['B01001_022E']
df_ACSCounty1['Age_65_69']=df_ACSCounty['B01001_045E']+df_ACSCounty['B01001_021E']+df_ACSCounty['B01001_044E']+df_ACSCounty['B01001_020E']
df_ACSCounty1['AgedPop']=df_ACSCounty1['Age_85']+df_ACSCounty1['Age_80_84']+df_ACSCounty1['Age_75_79']+df_ACSCounty1['Age_70_74']+df_ACSCounty1['Age_65_69']
df_ACSCounty1.head(2)

C:\Users\xzhou56\anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\xzhou56\anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\xzhou56\anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\xzhou56\anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\Users\xzhou56\anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\xzhou56\anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

,FIPS,NAME,State,Age_85,Age_80_84,Age_75_79,Age_70_74,Age_65_69,AgedPop
0,1001,Autauga County,Alabama,815,1026,1498,2440,2271,8050
1,1003,Baldwin County,Alabama,3949,4792,7373,11410,13141,40665

In [142]:
df_Healthcare=pd.read_excel(r'C:\Work_GovEx\COVID-19\New Data\Definitive_Healthcare_Hospital_Beds_By_County_and_Demographics.xlsx',
                            sheet_name= 'Sheet2',skiprows=2)
df_Healthcare1=df_Healthcare[['Row Labels', 'Sum of NUM_LICENSED_BEDS', 'Sum of NUM_STAFFED_BEDS',
       'Sum of NUM_ICU_BEDS','Sum of AVG_VENTILATOR_USAGE']]
   #                           'ID','Sum # of Licensed Beds', 'Sum # of Staffed Beds', 'Sum # of ICU Beds','Average Average Ventilator Usage']]
df_Healthcare1.rename(columns={'Row Labels':'ID','Sum of NUM_LICENSED_BEDS':'Beds_Licensed','Sum of NUM_STAFFED_BEDS':'Beds_Staffed','Sum of NUM_ICU_BEDS':'Beds_ICU',
                             'Sum of AVG_VENTILATOR_USAGE':'Ventilators_Average' },inplace=True)
df_CountyHealth=pd.merge(df_ACSCounty1,df_Healthcare1,how='inner',left_on='FIPS',right_on='ID')
df_CountyHealth.shape

C:\Users\xzhou56\anaconda3\lib\site-packages\pandas\core\frame.py:4223: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(**kwargs)

(2480, 14)

In [143]:
#Merge JHU data with Esri County data, left join to keep all the confirmed cases
df_Counties1=pd.merge(df_Counties,df_CountyHealth,how='left',left_on='FIPS',right_on='FIPS')

In [144]:
#import demographic info  https://data.census.gov/cedsci/  data source: https://www.ers.usda.gov/data-products/county-level-data-sets/download-data/
df_pop=pd.read_excel('C:\Work_GovEx\COVID-19\Demographic\PopulationEstimates.xls',skiprows=2)
df_poverty=pd.read_excel('C:\Work_GovEx\COVID-19\Demographic\PovertyEstimates.xls',skiprows=4)
#df_edu=pd.read_excel('C:\Work_GovEx\COVID-19\Demographic\Education.xls',skiprows=4)
df_eco=pd.read_excel('C:\Work_GovEx\COVID-19\Demographic\employment.xls',skiprows=4)

In [145]:
df_eco=df_eco.drop(df_eco.index[0])
df_poverty=df_poverty.drop(df_poverty.index[0])
df_pop=df_pop.drop(df_pop.index[0])
#df_eco.head(2)

In [146]:
#Select columns from demo data
df_pop1=df_pop[['FIPS','POP_ESTIMATE_2018']]
df_poverty1=df_poverty[['FIPStxt','POVALL_2018','PCTPOVALL_2018']]
#df_edu1=df_edu[[]]
df_eco1=df_eco[['FIPS','Unemployed_2018','Unemployment_rate_2018','Median_Household_Income_2018','Med_HH_Income_Percent_of_State_Total_2018']]

In [147]:
#merge demo data
demo1=pd.merge(df_pop1,df_poverty1,how='left',left_on='FIPS',right_on='FIPStxt')
demo2=pd.merge(demo1,df_eco1,how='right',left_on='FIPS',right_on='FIPS')

In [148]:
demo2.shape

(3274, 9)

In [149]:
df_Counties1.shape

(3255, 34)

In [150]:
#merge JHU,Esri, Demo data
USCounties1=pd.merge(df_Counties1,demo2,how='left',left_on='FIPS',right_on='FIPS')

In [151]:
USCounties1.shape

(3255, 42)

In [152]:
#import the most recent daily data from https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports
td=datetime.strftime(datetime.now()-timedelta(1), '%m-%d-%Y')
#td=datetime.strftime(datetime.now(), '%m-%d-%Y')
print (str(td))
df_new=pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/"+str(td)+".csv")
df_USnew=df_new[df_new['Country_Region']=='US']
dfStates=pd.pivot_table(df_USnew,values=['Confirmed', 'Deaths', 'Recovered',
       'Active'],index=['Province_State'],aggfunc=np.sum)
dfStates.rename(columns={'Confirmed':'State_Confirmed','Deaths':'State_Deaths','Recovered':'State_Recovered'},inplace=True)
#dfStates['State_Testing']=999
dfStates.reset_index(inplace=True)
dfStates.State_Recovered.sum()

05-19-2020

289392

In [153]:
#dfStates

In [154]:
#merge UScounties1 with state data
USCounties2=pd.merge(USCounties1,dfStates,how='outer',left_on='State',right_on='Province_State')

In [155]:
USCounties2.head(1)

,Confirmed,FIPS,Admin2,Province_State_x,Combined_Key,NewCaseDay01,NewCaseDay02,NewCaseDay03,NewCaseDay04,NewCaseDay05,NewCaseDay06,NewCaseDay07,NewCaseDay08,NewCaseDay09,NewCaseDay10,NewCaseDay11,NewCaseDay12,NewCaseDay13,NewCases,Deaths,NewDeaths,NAME,State,Age_85,Age_80_84,Age_75_79,Age_70_74,Age_65_69,AgedPop,ID,Beds_Licensed,Beds_Staffed,Beds_ICU,Ventilators_Average,POP_ESTIMATE_2018,FIPStxt,POVALL_2018,PCTPOVALL_2018,Unemployed_2018,Unemployment_rate_2018,Median_Household_Income_2018,Med_HH_Income_Percent_of_State_Total_2018,Province_State_y,Active,State_Confirmed,State_Deaths,State_Recovered
0,0.0,60,NaN,American Samoa,"American Samoa, US",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [156]:
#import Red Cross
dfRC=pd.read_csv(r'C:\Work_GovEx\COVID-19\New Data\Red Cross Centroids for COVID19 Public Health Emergency Status by County_0.csv')

In [157]:
dfRC1=dfRC[['FIPS','Notes','Last Update', 'Local Public Emergency']]
dfRC1.loc[dfRC1['Local Public Emergency']=='Red','Local Public Emergency']= 'Govt Ordered Community Quarantine'
dfRC1.loc[dfRC1['Local Public Emergency']=='Orange','Local Public Emergency']= 'Govt Directed Social Distancing'
dfRC1.loc[dfRC1['Local Public Emergency']=='Yellow','Local Public Emergency']= 'Declared Public Health Emergency'

C:\Users\xzhou56\anaconda3\lib\site-packages\pandas\core\indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [158]:
dfRC1['Local Public Emergency'].unique()

array(['Govt Ordered Community Quarantine',
       'Govt Directed Social Distancing',
       'Declared Public Health Emergency'], dtype=object)

In [159]:
dfRC1.rename(columns={'Notes':'EM_notes','Last Update':'EM_date','Local Public Emergency':'EM_type'},inplace=True)

In [160]:
#merge UScounties2 with RC data
USCounties3=pd.merge(USCounties2, dfRC1,how='left',left_on='FIPS',right_on='FIPS')

In [161]:
USCounties3.shape

(3262, 50)

In [162]:
#import US Counties, State shp file downloaded from Esri
US_Counties=gpd.read_file(r"C:\Work_GovEx\COVID-19\New Data\JHUCounties.shp")
US_Counties.rename(columns={'NAME':'Countyname','COUNTYFP':'CountyFP'},inplace=True)
US_Counties['GEOID']=US_Counties['GEOID'].astype(float)

In [163]:
US_Counties.shape

(3142, 6)

In [164]:
#import state testing data from https://covidtracking.com/api/states
dfStatesTesting=pd.read_json('https://covidtracking.com/api/v1/states/current.json')
dfStatesTesting=dfStatesTesting[['state','total','dateChecked']]
dfStatesTesting.rename(columns={'total':'State_Testing','dateChecked':'DateChecked'},inplace=True)

In [165]:
#Merge with state testing data
USCounties=pd.merge(US_Counties,dfStatesTesting,how='left',left_on='ST_Abbr',right_on='state')

In [166]:
#Import Race data
#USCounties_pre=gpd.read_file(r"C:\Work_GovEx\COVID-19\Daily Data\USCounties_JHUmap_05_05\USCounties_JHUmap.shp")
Counties_race=pd.read_csv(r'C:\Work_GovEx\COVID-19\New Data\County_ShpHeaders.csv')
Race_Age=pd.read_csv(r'C:\Work_GovEx\COVID-19\New Data\Race_Age.csv')

In [167]:
Race_Agemerge=pd.merge(Counties_race,Race_Age,how='left',left_on='GEOIDFIPS',right_on='FIPS')

In [168]:
Race_Agemerge.head(1)

,ObjectID,CountyGNIS,GEOIDFIPS,LandAreaSQM,WaterAreaSQM,Name,State,TotalPop,TotalPopMOE,NonHispWhPop,NonHispWhMOE,BlackPop,BlackPopMOE,AmIndop,AmeIndPopMOE,AsianPop,AsianPopMOE,PacIslPop,PacIslPopMOE,OtherPop,OtherPopMOE,TwoMorPop,TwoMorPopMOE,HispPop,HispPopMOE,PCPopNWh,PCPopNWhMOE,PCPopBk,PPCPopBkMOE,PCPopAI,PCPopAIMOEMOE,PCPopAs,PCPopAsMOE,PPCPopPI,PCPopPIMOE,PCPopOr,PCPopOrMOE,PCPopTm,CPopTmMOE,PCPopHL,PCPopHLMOE,ShpArea,ShpLength,Unnamed: 0,NAME,racePop_total,White alone,Black or African American alone,American Indian and Alaska Native alone,Asian alone,Native Hawaiian and Other Pacific Islander alone,Some other race alone,Two or more races,Not Hispanic or Latino origin,Hispanic or Latino Origin,FIPS,Age_under15,Age_15_24,Age_25_34,Age_35_64,Age_65_74,Age_over75,Agetotal
0,1,161526,1001,1539602123,25706961,Autauga County,Alabama,55200,NaN,41412,59,10475,212,159,68,568,166,5,11,41,59,1012,251,1528,NaN,75.0,NaN,19.0,NaN,0.3,NaN,1.0,NaN,0.0,NaN,0.1,NaN,1.8,NaN,2.8,NaN,2.208588e+09,249970.191752,2517,"Autauga County, Alabama",55200.0,42437.0,10565.0,159.0,568.0,32.0,409.0,1030.0,55200.0,53672.0,1001,10842,7192,7064,22052,4711,3339,55200

In [169]:
USCountiesm1=pd.merge(USCounties,Race_Agemerge,how='left',left_on='GEOID',right_on='GEOIDFIPS')

In [170]:
USCountiesm1.columns

Index(['Countyname', 'GEOID', 'ST_Abbr', 'ST_ID', 'ST_Name', 'geometry',
       'state', 'State_Testing', 'DateChecked', 'ObjectID', 'CountyGNIS',
       'GEOIDFIPS', 'LandAreaSQM', 'WaterAreaSQM', 'Name', 'State', 'TotalPop',
       'TotalPopMOE', 'NonHispWhPop', 'NonHispWhMOE', 'BlackPop',
       'BlackPopMOE', 'AmIndop', 'AmeIndPopMOE', 'AsianPop', 'AsianPopMOE',
       'PacIslPop', 'PacIslPopMOE', 'OtherPop', 'OtherPopMOE', 'TwoMorPop',
       'TwoMorPopMOE', 'HispPop', 'HispPopMOE', 'PCPopNWh', 'PCPopNWhMOE',
       'PCPopBk', 'PPCPopBkMOE', 'PCPopAI', 'PCPopAIMOEMOE', 'PCPopAs',
       'PCPopAsMOE', 'PPCPopPI', 'PCPopPIMOE', 'PCPopOr', 'PCPopOrMOE',
       'PCPopTm', 'CPopTmMOE', 'PCPopHL', 'PCPopHLMOE', 'ShpArea', 'ShpLength',
       'Unnamed: 0', 'NAME', 'racePop_total', 'White alone',
       'Black or African American alone',
       'American Indian and Alaska Native alone', 'Asian alone',
       'Native Hawaiian and Other Pacific Islander alone',
       'Some other race alone', 'Two or more races',
       'Not Hispanic or Latino origin', 'Hispanic or Latino Origin', 'FIPS',
       'Age_under15', 'Age_15_24', 'Age_25_34', 'Age_35_64', 'Age_65_74',
       'Age_over75', 'Agetotal'],
      dtype='object')

In [171]:
USCountiesm1=USCountiesm1[['Countyname', 'GEOID', 'ST_Abbr', 'ST_ID', 'ST_Name', 'geometry',
       'state', 'State_Testing', 'DateChecked', 'ObjectID', 'CountyGNIS',
       'GEOIDFIPS', 'TotalPop',
       'NonHispWhPop',  'BlackPop',
      'AmIndop',  'AsianPop', 
       'PacIslPop',  'OtherPop',  'TwoMorPop',
       'HispPop',  'PCPopNWh', 
       'PCPopBk', 'PCPopAI', 'PCPopAs',
      'PPCPopPI',  'PCPopOr', 
       'PCPopTm',  'PCPopHL',
       'racePop_total', 'White alone',
       'Black or African American alone',
       'American Indian and Alaska Native alone', 'Asian alone',
       'Native Hawaiian and Other Pacific Islander alone',
       'Some other race alone', 'Two or more races',
       'Not Hispanic or Latino origin', 'Hispanic or Latino Origin',
       'Age_under15', 'Age_15_24', 'Age_25_34', 'Age_35_64', 'Age_65_74',
       'Age_over75', 'Agetotal' ]]

In [172]:
#join the Countyshp and State testing file with USCounties3
USCounties4=pd.merge(USCountiesm1,USCounties3,how='right',left_on='GEOID',right_on='FIPS')
#USCounties1=pd.merge(US_Counties,df_USnew,how='left',left_on='forjoin',right_on='Combined_Key1')

In [173]:
USCounties4.head(1)

,Countyname,GEOID,ST_Abbr,ST_ID,ST_Name,geometry,state,State_Testing,DateChecked,ObjectID,CountyGNIS,GEOIDFIPS,TotalPop,NonHispWhPop,BlackPop,AmIndop,AsianPop,PacIslPop,OtherPop,TwoMorPop,HispPop,PCPopNWh,PCPopBk,PCPopAI,PCPopAs,PPCPopPI,PCPopOr,PCPopTm,PCPopHL,racePop_total,White alone,Black or African American alone,American Indian and Alaska Native alone,Asian alone,Native Hawaiian and Other Pacific Islander alone,Some other race alone,Two or more races,Not Hispanic or Latino origin,Hispanic or Latino Origin,Age_under15,Age_15_24,Age_25_34,Age_35_64,Age_65_74,Age_over75,Agetotal,Confirmed,FIPS,Admin2,Province_State_x,Combined_Key,NewCaseDay01,NewCaseDay02,NewCaseDay03,NewCaseDay04,NewCaseDay05,NewCaseDay06,NewCaseDay07,NewCaseDay08,NewCaseDay09,NewCaseDay10,NewCaseDay11,NewCaseDay12,NewCaseDay13,NewCases,Deaths,NewDeaths,NAME,State,Age_85,Age_80_84,Age_75_79,Age_70_74,Age_65_69,AgedPop,ID,Beds_Licensed,Beds_Staffed,Beds_ICU,Ventilators_Average,POP_ESTIMATE_2018,FIPStxt,POVALL_2018,PCTPOVALL_2018,Unemployed_2018,Unemployment_rate_2018,Median_Household_Income_2018,Med_HH_Income_Percent_of_State_Total_2018,Province_State_y,Active,State_Confirmed,State_Deaths,State_Recovered,EM_notes,EM_date,EM_type
0,"Autauga County, AL",1001,AL,01,Alabama,"POLYGON ((-9619464.071 3856528.446, -9619361.2...",AL,157566.0,2020-05-19T19:38:00Z,1.0,161526.0,1001.0,55200.0,41412.0,10475.0,159.0,568.0,5.0,41.0,1012.0,1528.0,75.0,19.0,0.3,1.0,0.0,0.1,1.8,2.8,55200.0,42437.0,10565.0,159.0,568.0,32.0,409.0,1030.0,55200.0,53672.0,10842.0,7192.0,7064.0,22052.0,4711.0,3339.0,55200.0,127.0,1001,Autauga,Alabama,"Autauga, Alabama, US",5.0,3.0,6.0,1.0,6.0,10.0,7.0,2.0,11.0,-1.0,7.0,0.0,10.0,7.0,4.0,0.0,Autauga County,Alabama,815.0,1026.0,1498.0,2440.0,2271.0,8050.0,1001,85.0,55.0,6.0,2.0,55601.0,1001.0,7587.0,13.8,942.0,3.6,59338.0,118.9591,Alabama,11872.0,12376.0,504.0,0.0,AL Governor issued a Shelter In Place order.,4/3/2020 10:40:51 PM,Govt Ordered Community Quarantine

In [174]:
USCounties4.shape

(3262, 96)

In [175]:
#Add calcuations
USCounties4['FatalityRate']=USCounties4['Deaths']/USCounties4['Confirmed']*100
USCounties4['ConfirmedbyPop']=USCounties4['Confirmed']/USCounties4['POP_ESTIMATE_2018']*100000
USCounties4['DeathsbyPop']=USCounties4['Deaths']/USCounties4['POP_ESTIMATE_2018']*100000
USCounties4['State_FatalityRate']=USCounties4['State_Deaths']/USCounties4['State_Confirmed']*100
USCounties4['Recovered']=0  # place holder
USCounties4['Active']=0   #place holder
USCounties4['url']='infUrl' #place holder
USCounties4['Thumbnail']='placeholder' #place holder

In [176]:
USCounties4['ConfirmedbyPop']=USCounties4['ConfirmedbyPop'].round(2)

In [177]:
USCounties4.columns.values

array(['Countyname', 'GEOID', 'ST_Abbr', 'ST_ID', 'ST_Name', 'geometry',
       'state', 'State_Testing', 'DateChecked', 'ObjectID', 'CountyGNIS',
       'GEOIDFIPS', 'TotalPop', 'NonHispWhPop', 'BlackPop', 'AmIndop',
       'AsianPop', 'PacIslPop', 'OtherPop', 'TwoMorPop', 'HispPop',
       'PCPopNWh', 'PCPopBk', 'PCPopAI', 'PCPopAs', 'PPCPopPI', 'PCPopOr',
       'PCPopTm', 'PCPopHL', 'racePop_total', 'White alone',
       'Black or African American alone',
       'American Indian and Alaska Native alone', 'Asian alone',
       'Native Hawaiian and Other Pacific Islander alone',
       'Some other race alone', 'Two or more races',
       'Not Hispanic or Latino origin', 'Hispanic or Latino Origin',
       'Age_under15', 'Age_15_24', 'Age_25_34', 'Age_35_64', 'Age_65_74',
       'Age_over75', 'Agetotal', 'Confirmed', 'FIPS', 'Admin2',
       'Province_State_x', 'Combined_Key', 'NewCaseDay01', 'NewCaseDay02',
       'NewCaseDay03', 'NewCaseDay04', 'NewCaseDay05', 'NewCaseDay06',
       'NewCaseDay07', 'NewCaseDay08', 'NewCaseDay09', 'NewCaseDay10',
       'NewCaseDay11', 'NewCaseDay12', 'NewCaseDay13', 'NewCases',
       'Deaths', 'NewDeaths', 'NAME', 'State', 'Age_85', 'Age_80_84',
       'Age_75_79', 'Age_70_74', 'Age_65_69', 'AgedPop', 'ID',
       'Beds_Licensed', 'Beds_Staffed', 'Beds_ICU', 'Ventilators_Average',
       'POP_ESTIMATE_2018', 'FIPStxt', 'POVALL_2018', 'PCTPOVALL_2018',
       'Unemployed_2018', 'Unemployment_rate_2018',
       'Median_Household_Income_2018',
       'Med_HH_Income_Percent_of_State_Total_2018', 'Province_State_y',
       'Active', 'State_Confirmed', 'State_Deaths', 'State_Recovered',
       'EM_notes', 'EM_date', 'EM_type', 'FatalityRate', 'ConfirmedbyPop',
       'DeathsbyPop', 'State_FatalityRate', 'Recovered', 'url',
       'Thumbnail'], dtype=object)

In [178]:
#select columns
USCounties4=USCounties4[['Admin2', 'Province_State_x','ST_Abbr', 'ST_ID',  'geometry',
       'FIPS', 'FatalityRate', 'ConfirmedbyPop','DeathsbyPop', 'PCTPOVALL_2018', 
         'Unemployment_rate_2018', 'Med_HH_Income_Percent_of_State_Total_2018',
       'State_FatalityRate', 'DateChecked',
        'EM_type', 'EM_date','EM_notes','url', 'Thumbnail', 'Confirmed',  'Deaths',
        'Age_85', 'Age_80_84', 'Age_75_79', 'Age_70_74', 'Age_65_69',  
        'Beds_Licensed', 'Beds_Staffed','Beds_ICU', 'Ventilators_Average', 
        'POP_ESTIMATE_2018','POVALL_2018', 'Unemployed_2018','Median_Household_Income_2018',
        'Recovered', 'Active', 'State_Confirmed', 'State_Deaths', 'State_Recovered',
       'State_Testing',  'AgedPop','NewCases','NewDeaths','TotalPop', 'NonHispWhPop', 'BlackPop', 'AmIndop',
       'AsianPop', 'PacIslPop', 'OtherPop', 'TwoMorPop', 'HispPop', 'PCPopNWh',
       'PCPopBk', 'PCPopAI', 'PCPopAs', 'PPCPopPI', 'PCPopOr', 'PCPopTm',
       'PCPopHL','racePop_total', 'White alone',
       'Black or African American alone',
       'American Indian and Alaska Native alone', 'Asian alone',
       'Native Hawaiian and Other Pacific Islander alone',
       'Some other race alone', 'Two or more races',
       'Not Hispanic or Latino origin', 'Hispanic or Latino Origin',
       'Age_under15', 'Age_15_24', 'Age_25_34', 'Age_35_64', 'Age_65_74',
       'Age_over75', 'Agetotal']]
USCounties4.rename(columns={'Admin2':'Countyname'},inplace=True)
USCounties4.rename(columns={'Province_State_x':'ST_Name'},inplace=True)

In [179]:
USCounties4['FIPS']=USCounties4['FIPS'].fillna(0).astype(int)
USCounties4['FIPS']=USCounties4['FIPS'].apply(str).str.pad(width=5, side='left', fillchar='0')
USCounties4['Age_85']=USCounties4['Age_85'].fillna(0).astype(int)
USCounties4['Age_80_84']=USCounties4['Age_80_84'].fillna(0).astype(int)
USCounties4['Age_75_79']=USCounties4['Age_75_79'].fillna(0).astype(int)
USCounties4['Age_70_74']=USCounties4['Age_70_74'].fillna(0).astype(int)
USCounties4['Age_65_69']=USCounties4['Age_65_69'].fillna(0).astype(int)
USCounties4['AgedPop']=USCounties4['AgedPop'].fillna(0).astype(int)
USCounties4['Beds_Licensed']=USCounties4['Beds_Licensed'].fillna(0).astype(int)
USCounties4['Beds_ICU']=USCounties4['Beds_ICU'].fillna(0).astype(int)
USCounties4['Beds_Staffed']=USCounties4['Beds_Staffed'].fillna(0).astype(int)
# USCounties4['NewCases']=USCounties4['NewCases'].fillna(0).astype(int)
# USCounties4['NewDeaths']=USCounties4['NewDeaths'].fillna(0).astype(int)
USCounties4[['Confirmed', 'Deaths',
 'Ventilators_Average',
       'POP_ESTIMATE_2018', 'POVALL_2018',  'Unemployed_2018',
        'Median_Household_Income_2018', 'Recovered', 'Active',
       'State_Confirmed', 'State_Deaths', 'State_Recovered',
        'State_Testing']]=USCounties4[['Confirmed', 'Deaths', 
        'Ventilators_Average',
       'POP_ESTIMATE_2018', 'POVALL_2018',  'Unemployed_2018',
        'Median_Household_Income_2018', 'Recovered', 'Active',
       'State_Confirmed', 'State_Deaths', 'State_Recovered',
        'State_Testing']].fillna(0).astype(int)

In [180]:
#Add url and Thumbnail columns
fiplist=USCounties4['FIPS'].tolist()
urllist=list()
for i in fiplist:
    url0='https://bao.arcgis.com/covid-19/jhu/county/'+i+'.html'
    urllist.append(url0)
USCounties4['url']=urllist
USCounties4['Thumbnail']="https://coronavirus.jhu.edu/static/media/dashboard_infographic_thumbnail.png"

In [181]:
tdtime=datetime.strftime(datetime.now(), '%m/%d/%Y %H:%M:%S')
print (tdtime)
USCounties4['DateChecked']=tdtime
USCounties4['DateChecked']

05/20/2020 00:22:28

0       05/20/2020 00:22:28
1       05/20/2020 00:22:28
2       05/20/2020 00:22:28
3       05/20/2020 00:22:28
4       05/20/2020 00:22:28
               ...
3257    05/20/2020 00:22:28
3258    05/20/2020 00:22:28
3259    05/20/2020 00:22:28
3260    05/20/2020 00:22:28
3261    05/20/2020 00:22:28
Name: DateChecked, Length: 3262, dtype: object

In [182]:
USCounties4.shape

(3262, 77)

In [183]:
USCounties4.columns

Index(['Countyname', 'ST_Name', 'ST_Abbr', 'ST_ID', 'geometry', 'FIPS',
       'FatalityRate', 'ConfirmedbyPop', 'DeathsbyPop', 'PCTPOVALL_2018',
       'Unemployment_rate_2018', 'Med_HH_Income_Percent_of_State_Total_2018',
       'State_FatalityRate', 'DateChecked', 'EM_type', 'EM_date', 'EM_notes',
       'url', 'Thumbnail', 'Confirmed', 'Deaths', 'Age_85', 'Age_80_84',
       'Age_75_79', 'Age_70_74', 'Age_65_69', 'Beds_Licensed', 'Beds_Staffed',
       'Beds_ICU', 'Ventilators_Average', 'POP_ESTIMATE_2018', 'POVALL_2018',
       'Unemployed_2018', 'Median_Household_Income_2018', 'Recovered',
       'Active', 'State_Confirmed', 'State_Deaths', 'State_Recovered',
       'State_Testing', 'AgedPop', 'NewCases', 'NewDeaths', 'TotalPop',
       'NonHispWhPop', 'BlackPop', 'AmIndop', 'AsianPop', 'PacIslPop',
       'OtherPop', 'TwoMorPop', 'HispPop', 'PCPopNWh', 'PCPopBk', 'PCPopAI',
       'PCPopAs', 'PPCPopPI', 'PCPopOr', 'PCPopTm', 'PCPopHL', 'racePop_total',
       'White alone', 'Black or African American alone',
       'American Indian and Alaska Native alone', 'Asian alone',
       'Native Hawaiian and Other Pacific Islander alone',
       'Some other race alone', 'Two or more races',
       'Not Hispanic or Latino origin', 'Hispanic or Latino Origin',
       'Age_under15', 'Age_15_24', 'Age_25_34', 'Age_35_64', 'Age_65_74',
       'Age_over75', 'Agetotal'],
      dtype='object')

In [184]:
#reorganize the field and export
USCounties4=USCounties4[['Countyname', 'ST_Name','ST_Abbr', 'ST_ID','geometry',
       'FIPS', 'FatalityRate', 'ConfirmedbyPop','DeathsbyPop', 'PCTPOVALL_2018', 
         'Unemployment_rate_2018', 'Med_HH_Income_Percent_of_State_Total_2018',
       'State_FatalityRate', 'DateChecked',
        'EM_type', 'EM_date','EM_notes','url', 'Thumbnail', 'Confirmed',  'Deaths',
        'Age_85', 'Age_80_84', 'Age_75_79', 'Age_70_74', 'Age_65_69',  
        'Beds_Licensed', 'Beds_Staffed','Beds_ICU', 'Ventilators_Average', 
        'POP_ESTIMATE_2018','POVALL_2018', 'Unemployed_2018','Median_Household_Income_2018',
        'Recovered', 'Active', 'State_Confirmed', 'State_Deaths', 'State_Recovered',
       'State_Testing',  'AgedPop','NewCases', 'NewDeaths','TotalPop',
       'NonHispWhPop', 'BlackPop', 'AmIndop', 'AsianPop', 'PacIslPop',
       'OtherPop', 'TwoMorPop', 'HispPop', 'PCPopNWh', 'PCPopBk', 'PCPopAI',
       'PCPopAs', 'PPCPopPI', 'PCPopOr', 'PCPopTm', 'PCPopHL','racePop_total',
       'White alone', 'Black or African American alone',
       'American Indian and Alaska Native alone', 'Asian alone',
       'Native Hawaiian and Other Pacific Islander alone',
       'Some other race alone', 'Two or more races',
       'Not Hispanic or Latino origin', 'Hispanic or Latino Origin',
       'Age_under15', 'Age_15_24', 'Age_25_34', 'Age_35_64', 'Age_65_74',
       'Age_over75', 'Agetotal']]

In [185]:
USCounties4.rename(columns={'FatalityRate':'FatalityRa','ConfirmedbyPop':'Confirmedb','DeathsbyPop':'DeathsbyPo',
                            'PCTPOVALL_2018':'PCTPOVALL_','Unemployment_rate_2018':'Unemployme', 
                            'Med_HH_Income_Percent_of_State_Total_2018':'Med_HH_Inc',
                            'State_FatalityRate':'State_Fata', 'DateChecked':'DateChecke','Beds_Licensed':'Beds_Licen',
                            'Ventilators_Average':'Ventilator', 'POP_ESTIMATE_2018':'POP_ESTIMA',
                            'POVALL_2018':'POVALL_201', 'Unemployed_2018':'Unemployed',
                            'Median_Household_Income_2018':'Median_Hou',
                            'State_Confirmed':'State_Conf','State_Deaths':'State_Deat', 
                            'State_Recovered':'State_Reco','State_Testing':'State_Test',
                           'White alone':'Wh_Alone', 'Black or African American alone':'Bk_Alone',
                            'American Indian and Alaska Native alone':'AI_Alone', 'Asian alone':'As_Alone',
                            'Native Hawaiian and Other Pacific Islander alone':'NH_Alone','Some other race alone':'SO_Alone', 
                            'Two or more races':'Two_More','Not Hispanic or Latino origin':'Not_Hisp', 
                            'Hispanic or Latino Origin':'NonHisp',
                            'Age_under15':'Age_Less15', 'Age_over75':'Age_Over75',
                           },inplace=True)

In [186]:
USCounties4.columns

Index(['Countyname', 'ST_Name', 'ST_Abbr', 'ST_ID', 'geometry', 'FIPS',
       'FatalityRa', 'Confirmedb', 'DeathsbyPo', 'PCTPOVALL_', 'Unemployme',
       'Med_HH_Inc', 'State_Fata', 'DateChecke', 'EM_type', 'EM_date',
       'EM_notes', 'url', 'Thumbnail', 'Confirmed', 'Deaths', 'Age_85',
       'Age_80_84', 'Age_75_79', 'Age_70_74', 'Age_65_69', 'Beds_Licen',
       'Beds_Staffed', 'Beds_ICU', 'Ventilator', 'POP_ESTIMA', 'POVALL_201',
       'Unemployed', 'Median_Hou', 'Recovered', 'Active', 'State_Conf',
       'State_Deat', 'State_Reco', 'State_Test', 'AgedPop', 'NewCases',
       'NewDeaths', 'TotalPop', 'NonHispWhPop', 'BlackPop', 'AmIndop',
       'AsianPop', 'PacIslPop', 'OtherPop', 'TwoMorPop', 'HispPop', 'PCPopNWh',
       'PCPopBk', 'PCPopAI', 'PCPopAs', 'PPCPopPI', 'PCPopOr', 'PCPopTm',
       'PCPopHL', 'racePop_total', 'Wh_Alone', 'Bk_Alone', 'AI_Alone',
       'As_Alone', 'NH_Alone', 'SO_Alone', 'Two_More', 'Not_Hisp', 'NonHisp',
       'Age_Less15', 'Age_15_24', 'Age_25_34', 'Age_35_64', 'Age_65_74',
       'Age_Over75', 'Agetotal'],
      dtype='object')

In [187]:
USCounties4['Confirmed'].sum()

1523368

In [188]:
USCounties4[USCounties4['Countyname']=='Queens'][['Confirmed','Countyname','NewCases']]

      Confirmed Countyname  NewCases
1868      58921     Queens     165.0

In [189]:
USCounties4.crs

<Projected CRS: EPSG:3857>
Name: WGS 84 / Pseudo-Mercator
Axis Info [cartesian]:
- X[east]: Easting (metre)
- Y[north]: Northing (metre)
Area of Use:
- name: World - 85°S to 85°N
- bounds: (-180.0, -85.06, 180.0, 85.06)
Coordinate Operation:
- name: Popular Visualisation Pseudo-Mercator
- method: Popular Visualisation Pseudo Mercator
Datum: World Geodetic System 1984
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

In [190]:
#USCounties4.to_file(r'C:\Work_GovEx\COVID-19\Daily Data\USCounties_JHUmap_Race_Age_NewCases.shp')

In [191]:
USCounties4.to_file(r'C:\Work_GovEx\COVID-19\Daily Data\USCounties_JHUmap.shp')

# Update CSV

In [192]:
#data from github jhu,import the lastest data from timeseries
df_Counties_confirmed=pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv")
df_Counties_deaths=pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv")

In [193]:
# Exclude military and extra data added to the end
df_Counties_confirmed=df_Counties_confirmed.iloc[:3253]

df_Counties_deaths=df_Counties_deaths.iloc[:3253]

In [194]:
#check the latest date
tdst=df_Counties_confirmed.columns[-1]
print (tdst)

5/19/20

In [195]:
#replace with NY boroughs files
dates_list=df_NY_confirmed.columns[4:]
print (dates_list)

#df_NY_deaths=pd.read_csv(r'C:\Work_GovEx\COVID-19\Daily Data\JHU US Map_NY_KC_Duke_Nantucket Counties - Deaths.csv')
for days in dates_list:
    #print (days)
    df_Counties_confirmed.loc[df_Counties_confirmed.FIPS==df_NY_confirmed.iloc[0,0],days]=df_NY_confirmed.loc[0][days]
    df_Counties_confirmed.loc[df_Counties_confirmed.FIPS==df_NY_confirmed.iloc[1,0],days]=df_NY_confirmed.loc[1][days]
    df_Counties_confirmed.loc[df_Counties_confirmed.FIPS==df_NY_confirmed.iloc[2,0],days]=df_NY_confirmed.loc[2][days]
    df_Counties_confirmed.loc[df_Counties_confirmed.FIPS==df_NY_confirmed.iloc[3,0],days]=df_NY_confirmed.loc[3][days]
    df_Counties_confirmed.loc[df_Counties_confirmed.FIPS==df_NY_confirmed.iloc[4,0],days]=df_NY_confirmed.loc[4][days]
    
    df_Counties_deaths.loc[df_Counties_deaths.FIPS==df_NY_deaths.iloc[0,0],days]=df_NY_deaths.loc[0][days]
    df_Counties_deaths.loc[df_Counties_deaths.FIPS==df_NY_deaths.iloc[1,0],days]=df_NY_deaths.loc[1][days]
    df_Counties_deaths.loc[df_Counties_deaths.FIPS==df_NY_deaths.iloc[2,0],days]=df_NY_deaths.loc[2][days]
    df_Counties_deaths.loc[df_Counties_deaths.FIPS==df_NY_deaths.iloc[3,0],days]=df_NY_deaths.loc[3][days]
    df_Counties_deaths.loc[df_Counties_deaths.FIPS==df_NY_deaths.iloc[4,0],days]=df_NY_deaths.loc[4][days]

Index(['4/14/20', '4/15/20', '4/16/20', '4/17/20', '4/18/20', '4/19/20',
       '4/20/20', '4/21/20', '4/22/20', '4/23/20', '4/24/20', '4/25/20',
       '4/26/20', '4/27/20', '4/28/20', '4/29/20', '4/30/20', '5/1/20',
       '5/2/20', '5/3/20', '5/4/20', '5/5/20', '5/6/20', '5/7/20', '5/8/20',
       '5/9/20', '5/10/20', '5/11/20', '5/12/20', '5/13/20', '5/14/20',
       '5/15/20', '5/16/20', '5/17/20', '5/18/20', '5/19/20'],
      dtype='object')
4/14/20
4/15/20
4/16/20
4/17/20
4/18/20
4/19/20
4/20/20
4/21/20
4/22/20
4/23/20
4/24/20
4/25/20
4/26/20
4/27/20
4/28/20
4/29/20
4/30/20
5/1/20
5/2/20
5/3/20
5/4/20
5/5/20
5/6/20
5/7/20
5/8/20
5/9/20
5/10/20
5/11/20
5/12/20
5/13/20
5/14/20
5/15/20
5/16/20
5/17/20
5/18/20
5/19/20

In [196]:
#deaths data has an extra column
df_Counties_deaths.drop(columns=['iso2'],inplace=True)

In [197]:
#df_Counties_deaths.shape
df_Counties_deaths[df_Counties_deaths['FIPS']==36005]

,UID,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,Combined_Key,Population,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,2/1/20,2/2/20,2/3/20,2/4/20,2/5/20,2/6/20,2/7/20,2/8/20,2/9/20,2/10/20,2/11/20,2/12/20,2/13/20,2/14/20,2/15/20,2/16/20,2/17/20,2/18/20,2/19/20,2/20/20,2/21/20,2/22/20,2/23/20,2/24/20,2/25/20,2/26/20,2/27/20,2/28/20,2/29/20,...,3/31/20,4/1/20,4/2/20,4/3/20,4/4/20,4/5/20,4/6/20,4/7/20,4/8/20,4/9/20,4/10/20,4/11/20,4/12/20,4/13/20,4/14/20,4/15/20,4/16/20,4/17/20,4/18/20,4/19/20,4/20/20,4/21/20,4/22/20,4/23/20,4/24/20,4/25/20,4/26/20,4/27/20,4/28/20,4/29/20,4/30/20,5/1/20,5/2/20,5/3/20,5/4/20,5/5/20,5/6/20,5/7/20,5/8/20,5/9/20,5/10/20,5/11/20,5/12/20,5/13/20,5/14/20,5/15/20,5/16/20,5/17/20,5/18/20,5/19/20
1835,84036005,USA,840,36005.0,Bronx,New York,US,40.852093,-73.862828,"Bronx, New York, US",1418207,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1512,1584,1749,1802,1917,1975,2036,2144,2207,2272,2342,2395,2480,2529,2568,2660,2723,2845,2868,2886,2936,2997,3046,3082,3122,3137,3177,3209,3247,3268,3284,3293,3344,3369,3386,3409

In [198]:
df_Counties_confirmed[df_Counties_confirmed['FIPS']==36005]

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,Combined_Key,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,2/1/20,2/2/20,2/3/20,2/4/20,2/5/20,2/6/20,2/7/20,2/8/20,2/9/20,2/10/20,2/11/20,2/12/20,2/13/20,2/14/20,2/15/20,2/16/20,2/17/20,2/18/20,2/19/20,2/20/20,2/21/20,2/22/20,2/23/20,2/24/20,2/25/20,2/26/20,2/27/20,2/28/20,2/29/20,...,3/31/20,4/1/20,4/2/20,4/3/20,4/4/20,4/5/20,4/6/20,4/7/20,4/8/20,4/9/20,4/10/20,4/11/20,4/12/20,4/13/20,4/14/20,4/15/20,4/16/20,4/17/20,4/18/20,4/19/20,4/20/20,4/21/20,4/22/20,4/23/20,4/24/20,4/25/20,4/26/20,4/27/20,4/28/20,4/29/20,4/30/20,5/1/20,5/2/20,5/3/20,5/4/20,5/5/20,5/6/20,5/7/20,5/8/20,5/9/20,5/10/20,5/11/20,5/12/20,5/13/20,5/14/20,5/15/20,5/16/20,5/17/20,5/18/20,5/19/20
1835,84036005,US,USA,840,36005.0,Bronx,New York,US,40.852093,-73.862828,"Bronx, New York, US",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,23426,24587,25638,27014,28016,28875,29505,30142,31130,31911,32862,33950,34711,35398,35860,36382,36969,37551,38099,38599,38973,39239,39587,39878,40148,40454,40689,41628,41746,41953,42222,42656,42966,43252,43397,43508

In [199]:
#convert table
def converttable(df):
    cols=df.columns.tolist()
    pd_list=[]
    for i in range(11,df.shape[1]):
        temp_cols=cols[:11]
        temp_cols.append(cols[i])
    # print(temp_cols)
        temp_pd=df[temp_cols].copy()
        temp_pd['dt']=cols[i]
        temp_pd.rename(columns={cols[i]:'value'},inplace=True)
        pd_list.append(temp_pd)
    df_new=pd.concat(pd_list,axis=0,ignore_index=True)
    return df_new

In [200]:
df_confirmed_new = converttable(df_Counties_confirmed)
df_deaths_new = converttable(df_Counties_deaths)

In [201]:
#merge confirmed and deaths data 
df_confirmed_new['dt']=pd.to_datetime(df_confirmed_new['dt'])
df_deaths_new['dt']=pd.to_datetime(df_deaths_new['dt'])
# Rename cols
df_confirmed_new.rename(columns = {'value': 'confirmed'}, inplace = True)
df_deaths_new.rename(columns = {'value': 'deaths'}, inplace = True)
# Merge two tables
df_merged = df_confirmed_new.merge(df_deaths_new[['Admin2','Province_State', 'Country_Region', 'dt', 'deaths','Population']], 
                                   on = ['Admin2','Province_State', 'dt'], 
                                   how = 'inner')
df_merged = df_merged[['Admin2','Province_State', 'FIPS', 'dt', 'confirmed', 'deaths','Population']]
df_merged['FIPS']=df_merged['FIPS'].fillna(0).astype(int)
df_merged['FIPS'] = df_merged['FIPS'].apply(lambda x: '{0:0>5}'.format(x))

In [202]:
#merge with shpfiles for geometry info
US_Counties=gpd.read_file(r"C:\Work_GovEx\COVID-19\New Data\JHUCounties.shp")
df_merged1=pd.merge(df_merged,US_Counties,how='left',left_on='FIPS',right_on='GEOID')

In [203]:
#select columns and rename
df_merged1 = df_merged1[['Admin2','Province_State', 'FIPS','ST_ID','dt', 'confirmed', 'deaths','Population']]
df_merged1.rename(columns={'Admin2':'Countyname','Province_State':'ST_Name','ST_ID':'ST_ID','confirmed':'Confirmed','deaths':'Deaths'},inplace=True)
#Format FIPS
df_merged1['FIPS']=df_merged1['FIPS'].fillna(0).astype(int)
df_merged1['FIPS'] = df_merged1['FIPS'].apply(lambda x: '{0:0>5}'.format(x))
#calculate IncidenceRate
df_merged1['IncidenceRate']=df_merged1['Confirmed']/df_merged1['Population']*100000
df_merged1['IncidenceRate']=df_merged1['IncidenceRate'].round(2)

In [204]:
#calculate new cases

# Sort values
df_merged1.sort_values(by = ['ST_Name','FIPS', 'dt'], ascending = True, inplace = True)

# Differences
df_merged1['NewCases'] = df_merged1.groupby(by = ['FIPS']).Confirmed.diff()

In [205]:
df_merged1['dt']=pd.to_datetime(df_merged1['dt']).dt.date
from datetime import date
df_merged1[df_merged1['dt']==date(2020,1,24)].head()

,Countyname,ST_Name,FIPS,ST_ID,dt,Confirmed,Deaths,Population,IncidenceRate,NewCases
6511,Autauga,Alabama,01001,01,2020-01-24,0,0,55869,0.0,0.0
6512,Baldwin,Alabama,01003,01,2020-01-24,0,0,223234,0.0,0.0
6513,Barbour,Alabama,01005,01,2020-01-24,0,0,24686,0.0,0.0
6514,Bibb,Alabama,01007,01,2020-01-24,0,0,22394,0.0,0.0
6515,Blount,Alabama,01009,01,2020-01-24,0,0,57826,0.0,0.0

In [206]:
df_merged1[df_merged1['ST_Name']=='Connecticut']

,Countyname,ST_Name,FIPS,ST_ID,dt,Confirmed,Deaths,Population,IncidenceRate,NewCases
313,Fairfield,Connecticut,09001,09,2020-01-22,0,0,943332,0.0,NaN
3566,Fairfield,Connecticut,09001,09,2020-01-23,0,0,943332,0.0,0.0
6819,Fairfield,Connecticut,09001,09,2020-01-24,0,0,943332,0.0,0.0
10072,Fairfield,Connecticut,09001,09,2020-01-25,0,0,943332,0.0,0.0
13325,Fairfield,Connecticut,09001,09,2020-01-26,0,0,943332,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
374049,Unassigned,Connecticut,90009,NaN,2020-05-15,238,3,0,inf,3.0
377302,Unassigned,Connecticut,90009,NaN,2020-05-16,257,2,0,inf,19.0
380555,Unassigned,Connecticut,90009,NaN,2020-05-17,210,1,0,inf,-47.0
383808,Unassigned,Connecticut,90009,NaN,2020-05-18,233,2,0,inf,23.0
387061,Unassigned,Connecticut,90009,NaN,2020-05-19,218,2,0,inf,-15.0

In [207]:
df_merged1.head()

,Countyname,ST_Name,FIPS,ST_ID,dt,Confirmed,Deaths,Population,IncidenceRate,NewCases
5,Autauga,Alabama,01001,01,2020-01-22,0,0,55869,0.0,NaN
3258,Autauga,Alabama,01001,01,2020-01-23,0,0,55869,0.0,0.0
6511,Autauga,Alabama,01001,01,2020-01-24,0,0,55869,0.0,0.0
9764,Autauga,Alabama,01001,01,2020-01-25,0,0,55869,0.0,0.0
13017,Autauga,Alabama,01001,01,2020-01-26,0,0,55869,0.0,0.0

In [208]:
# df_merged1['ST_ID']=df_merged1['ST_ID'].fillna(0).astype(int)
# df_merged1['ST_ID']=df_merged1['ST_ID'].apply(str).str.pad(width=2, side='left', fillchar='0')
# df_merged1['FIPS']=df_merged1['FIPS'].fillna(0).astype(int)
# df_merged1['FIPS']=df_merged1['FIPS'].apply(str).str.pad(width=5, side='left', fillchar='0')

In [209]:
df_merged1.to_csv('C:\Work_GovEx\COVID-19\Daily Data\df_Counties2020.csv')

In [210]:
#update the new files
df_NY_confirmed.to_csv(r'C:\Work_GovEx\COVID-19\Daily Data\NY Boroughs_Confirmed.csv')
df_NY_deaths.to_csv(r'C:\Work_GovEx\COVID-19\Daily Data\NY Boroughs_Deaths.csv')